@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Signika+Negative&family=Ubuntu+Mono&display=swap');

body{
  background-color:#2e9cca ;
  font-family: 'Abyssinica SIL', serif;
}

#navigation {
  background-color: #022140;
  height: 14vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 2px darkblue;
}

a{
  font-family: 'Ubuntu Mono', monospace;
  text-decoration: none;
  font-size: 1.5rem;
  width: 13%;
}

.link{
  color: white;
}

.active{
  color: blue;
  font-weight: bold;
}

.input{
  outline: none;
  border: 2px solid darkblue;
  border-radius: 7px;
  height: 20px;
  width: 150px;
  padding: 7px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
}

h1{
  margin-bottom: 10px;
}

.quiz-label{
  font-size: larger;
}

.label{
  font-size: x-large;
}

p{
  font-size: larger;
}

button{
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
  background-color: #022140;
  color: white;
}

#output{
  font-size: x-large;
  margin-top: 20px;
  font-weight: bold;
}

#output-quiz{
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 13%;

}